langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-core
pymupdf
faiss-cpu
rank_bm25
pythainlp
python-dotenv
streamlit
sentence-transformers
huggingface_hub>=0.24.0
tf-keras
openai
gemini-genai
graphviz
httpx
transformers
torch
pillow
scipy
ftfy
colpali-engine
byaldi
gradio_client
